policy_module(adnetcoin, 1.100.1)

########################################
#
# Declarations
#

type adnetcoin_t;
type adnetcoin_exec_t;
init_daemon_domain(adnetcoin_t, adnetcoin_exec_t)

permissive adnetcoin_t;

type adnetcoin_initrc_exec_t;
init_script_file(adnetcoin_initrc_exec_t)

type adnetcoin_conf_t;
files_type(adnetcoin_conf_t)

type adnetcoin_var_lib_t;
files_type(adnetcoin_var_lib_t)

type adnetcoin_var_run_t;
files_type(adnetcoin_var_run_t)

type adnetcoin_port_t;
corenet_port(adnetcoin_port_t)

########################################
#
# adnetcoin local policy
#
allow adnetcoin_t self:process { fork };

allow adnetcoin_t self:fifo_file rw_fifo_file_perms;
allow adnetcoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(adnetcoin_t, adnetcoin_conf_t, adnetcoin_conf_t)
manage_files_pattern(adnetcoin_t, adnetcoin_conf_t, adnetcoin_conf_t)

manage_dirs_pattern(adnetcoin_t, adnetcoin_var_lib_t, adnetcoin_var_lib_t)
manage_files_pattern(adnetcoin_t, adnetcoin_var_lib_t, adnetcoin_var_lib_t)
files_var_lib_filetrans(adnetcoin_t, adnetcoin_var_lib_t, { dir file })

manage_dirs_pattern(adnetcoin_t, adnetcoin_var_run_t, adnetcoin_var_run_t)
manage_files_pattern(adnetcoin_t, adnetcoin_var_run_t, adnetcoin_var_run_t)

sysnet_dns_name_resolve(adnetcoin_t)
corenet_all_recvfrom_unlabeled(adnetcoin_t)

allow adnetcoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(adnetcoin_t)
corenet_tcp_sendrecv_generic_node(adnetcoin_t)
corenet_tcp_sendrecv_all_ports(adnetcoin_t)
corenet_tcp_bind_generic_node(adnetcoin_t)

gen_require(`
    type adnetcoin_port_t;
')
allow adnetcoin_t adnetcoin_port_t:tcp_socket name_bind;

gen_require(`
    type adnetcoin_port_t;
')
allow adnetcoin_t adnetcoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(adnetcoin_t)

files_read_etc_files(adnetcoin_t)

miscfiles_read_localization(adnetcoin_t)

sysnet_dns_name_resolve(adnetcoin_t)

allow adnetcoin_t adnetcoin_exec_t:file execute_no_trans;
allow adnetcoin_t self:process setsched;
corecmd_exec_ls(adnetcoin_t)
corenet_tcp_connect_http_port(adnetcoin_t)
dev_read_urand(adnetcoin_t)
fs_getattr_xattr_fs(adnetcoin_t)
kernel_read_system_state(adnetcoin_t)
